.floating-dropdown {
  z-index: 5;
  position: fixed;
  top: 8%;
  .dropdown-title {
    font-size: 1.2em;
    margin-bottom: 1em;
    transition: all .4s ease-in-out;
  }

  .dropdown-title:hover {
    transform: scale(1.2);
    cursor: pointer;

  }
}

.floating-dropdown.Locations {
  left: 5%;
  background: radial-gradient(rgba(224,224,224,1) 25%, rgba(0,0,0,0) 90%);
}

.floating-dropdown.Networks {
  right: 5%;
  background: radial-gradient(rgba(224,224,224,1) 25%, rgba(0,0,0,0) 90%);
}

.floating-dropdown.closed {
  .hidden {
    display: none;
  }
}
