.floating-content {
  .search {
    padding: 0.4em;
    height: 1.4em;
    background-color: #DDD;
    .search-box {
      background-color: #EEE;
      padding: 0.2em;
      margin-bottom: 0.2em;
    }
    .search-icon {
      margin-right: 1em;
    }
    .clear-icon {
      cursor: pointer;
      transition: all .2s ease-in-out;
      margin-left: 1em;
    }
    .clear-icon:hover {
      color: #999;
    }
  }
  .countries, .cities {
    display: flex;
    flex-direction: column;

    li:hover {
      background-color: #AAA;
      cursor: pointer;
    }
  }

  .active {
    background-color: #DDD;
  }

  .locations-selector {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .select-countries, .select-cities {
      border: 1px solid black;
      width: 101%;
      padding: 0.3em;
    }

    .select-countries:hover, .select-cities:hover {
      cursor: pointer;
      background-color: #888;
      color: #FFF;
    }

    div:first-child {
      border-right: none;
    }
  }
}
