.main {
  margin: 1em auto;
}

.main-components {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  .locations, .networks {
    width: 30%;
  }
}

.main-narrow {
  .components {
    display: flex;
    flex-direction: column;

    .second {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
