.floating-content {
  .heading {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 0.5em;
  }

  .network-names, .network-names-container {
    .network-name:hover, .network-name:hover {
      background-color: #AAA;
      cursor: pointer;
    }
  }
}
