.top-bar {
  #bicycle-image {
    position: fixed;
    top: 1%;
    left: 1%;
  }
  .title {
    vertical-align: top;
  }
  img {
    width: 6em;
    height: auto;
    float: left;
    margin-left: 1em;
  }
}
