.top-bar {
  position: fixed;
  top: 2%;
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 35%;
  background: radial-gradient(rgba(224,224,224,1) 45%, rgba(0,0,0,0) 95%);
  width: 33%;
  .tagline {
    position: relative;
    left: 36%;
    top: 28px;
  }
  .title-row {
    display: flex;
    flex-direction: row;
    #bicycle-image {
      position: relative;
      height: 3em;
      width: 3em;
    }
  }
}
